documentation/source/nsdbms/exam_preparation/kursangebot_sose_2015/aufgabe_1_b.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="kurse" type="KurseTyp"/>

    <xs:complexType name="KurseTyp">
        <xs:sequence>
            <xs:element name="entspannungsKurs" type="EntspannungKursTyp" maxOccurs="unbounded"/>
            <xs:element name="bewegungsKurs" type="BewegungKursTyp" maxOccurs="unbounded"/>
            <xs:element name="ausflugsKurs" type="AusflugKursTyp" maxOccurs="unbounded"/>
            <xs:element name="sportart" type="SportartenTyp" maxOccurs="unbounded"/>
            <xs:element name="teilnehmer" type="TeilnehmerTyp" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KursTyp">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="beschreibung" type="xs:string"/>
            <xs:element name="treffpunkt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="strasse" type="xs:string"/>
                        <xs:element name="hausnummer" type="xs:string"/>
                        <xs:element name="plz">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[0-9]{5}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ort" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="anfangszeit" type="xs:dateTime"/>
            <xs:element name="dauer" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="teilnehmer" type="xs:IDREFS" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="kursID" type="xs:ID"/>
    </xs:complexType>

    <xs:complexType name="EntspannungKursTyp">
        <xs:complexContent>
            <xs:extension base="KursTyp">
                <xs:sequence>
                    <xs:element name="bedarf" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BewegungKursTyp">
        <xs:complexContent>
            <xs:extension base="KursTyp">
                <xs:sequence>
                    <xs:element name="fitnesslevel">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="level" type="xs:integer"/>
                                <xs:element name="teilnehmer" type="xs:IDREF"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="aktivitaetswunsch" type="xs:IDREF" minOccurs="0" maxOccurs="3"/>
                    <xs:element name="regenalternative" type="xs:IDREF" minOccurs="0" maxOccurs="3"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AusflugKursTyp">
        <xs:complexContent>
            <xs:extension base="EntspannungKursTyp">
                <xs:sequence>
                    <xs:element name="kleidung" type="xs:string" maxOccurs="10"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SportartenTyp">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="benoetigter_leistungsstand" type="xs:integer"/>
        </xs:sequence>
        <xs:attribute name="sportartID" type="xs:ID"/>
    </xs:complexType>

    <xs:complexType name="TeilnehmerTyp">
        <xs:sequence>
            <xs:element name="vorname" type="xs:string"/>
            <xs:element name="nachname" type="xs:string"/>
            <xs:element name="telefonnummer" type="xs:string" maxOccurs="5"/>
            <xs:choice minOccurs="0">
                <xs:element name="email" type="xs:string"/>
                <xs:element name="webseite" type="xs:string"/>
            </xs:choice>
            <xs:element name="kurse" type="xs:IDREFS"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
